@use "/src/scss/mixins";

.container--desktopMenu {
  display: none;
}

.container--hamburgerMenu {
  position: fixed;
  height: 100vh;
  width: 100%;
  .container--menuLogo__white {
    position: absolute;
    .menuLogo__white {
      width: 60%;
    }
  }
  .hamburgerMenu--button {
    @include mixins.flex(row, end, center, 0);
    position: absolute;
    width: 100%;
    background: none;
    border: none;
    padding-top: 15px;
    padding-right: 15px;
    .hamburgerMenu--button__lines,
    .hamburgerMenu--button__xmark {
      font-size: 30pt;
    }
  }
  .hamburgerMenu {
    @include mixins.flex(row, center, center, 0);
    height: 100%;
    background-color: rgb(177, 182, 175);
    .hamburgerMenu--list {
      @include mixins.flex(column, center, center, 25px);
      list-style: none;
      padding: 0;
      margin: 0;
      .hamburgerMenu--listLinks {
        text-decoration: none;
        color: white;
        font-family: "Inter", "Helvetica", sans-serif;
        font-size: 1.3rem;
        font-weight: 200;
        // font-variation-settings: "slnt" 0;
      }
      .hamburgerMenu--listLinks.active {
        text-decoration: underline;
      }
    }
  }
}

.test {
  height: 1000px;
  background-color: antiquewhite;
}

.container--navigation {
  @include mixins.devices(desktop) {
    .container--desktopMenu {
      display: block;
    }
    .container--hamburgerMenu {
      display: none;
    }
  }
}
