@import "/src/scss/mixins";
@import "/src/scss/variables";
/*--------------------------MOBILE MODE--------------------------------------*/

.contact-container {
  text-align: center;
  padding: 25%;
  padding: 0;
  background-color: grey;
  height: 100%;
  min-height: 100vh;
}
ul {
  list-style: none;
}
.opening-hours {
  margin-top: 10%;
}
.icons {
  margin-top: 10%;
}
.insta-icon,
.facebook-icon {
  width: 10%;
  height: auto;
}
.contact-info-header {
  display: flex;
  justify-content: center;
  margin-top: 35%;
}
@media (max-width: 880px) {
  .brand-icon {
    display: none;
  }
  .icons-desktopmode {
    display: none;
  }
}
/*--------------------------DESKTOP MODE--------------------------------------*/
@media (min-width: 880px) {
  .contact-container {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .contact-info,
  .opening-hours {
    flex: 1;
  }

  .brand-icon {
    display: block;
    width: 300px;
    margin-right: 200px;
  }
  .contact-info-header {
    display: flex;
    justify-content: center ali;
    margin-top: 10%;
  }
  .contact-info {
    margin-bottom: 0;
  }
  .insta-icon,
  .facebook-icon {
    display: inline-block;
    width: 60px;
    height: auto;
    margin-right: 80px;
  }
  .icons-mobilemode {
    display: none;
  }
}
