@import "/src/scss/mixins";
@import "/src/scss/variables";
/*--------------------------MOBILE MODE--------------------------------------*/

.contact-container {
  text-align: center;
  padding: 25%;
  background-color: grey;
  height: 100%;
  min-height: 100vh;
}
ul {
  list-style: none;
}
.opening-hours {
  margin-top: 10vh;
}
.insta-icon,
.facebook-icon {
  width: 20%;
  height: auto;
  margin-top: 5vh;
}
@media (max-width: 880px) {
  .brand-icon {
    display: none;
  }
  .icons-desktopmode {
    display: none;
  }
}
/*--------------------------DESKTOP MODE--------------------------------------*/
@media (min-width: 880px) {
  .contact-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    height: 100vh;
    padding-top: 7%;
  }
  .icons-mobilemode {
    display: none;
  }
  .icons-desktopmode {
    width: 40vh;
  }
  .brand-icon {
    width: 90vh;
    margin-left: 25%;
  }
  .opening-hours {
    margin-right: 70%;
    margin-top: 20%;
  }
  .contact-info {
    margin-top: 20%;
    margin-right: 15%;
  }
  .opening-title,
  .info-title {
    font-size: larger;
  }
  .opening-hours p,
  .contact-info p {
    margin-bottom: 30px;
  }
}
