@use "/src/scss/navigation/containersNav";

body {
  margin: 0;
  font-family: Verdana Tahoma, serif;
  font-size: 12pt;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
