@use "variables" as v;

@mixin flex($direction, $position, $align, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $position;
  align-items: $align;
  gap: $gap;
}

@mixin devices($breakpoint) {
  @if $breakpoint ==tablet {
    @media (min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint ==desktop {
    @media (min-width: 1024px) {
      @content;
    }
  }
}

@mixin button() {
  width: fit-content;
  width: -moz-fit-content;
  height: fit-content;
  padding: 7px 7px 7px 7px;
  font-size: clamp(15px, 1vw, 16px);
  background-color:v.$primary-color;
  box-shadow: 2px 2px 1px v.$shadow;
  border-radius: 5px;
  color: v.$text-ligth;
  @content;

&:hover{
background-color: v.$secondary-color;
}

}