@use "variables" as v;
@use 'mixins';

.reservationContainer {
    @include mixins.section() {}

    &___bookinginfo {

        width: 80%;
        display: flex;
        justify-content: space-between;


    }

    &___customerinfo {
        margin: 1.3rem 0 2rem 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        &___h4 {


            margin-bottom: 1rem;

        }

    }


    &___btn {

        @include mixins.button() {}


    }
    &___error{
       
        margin-top:clamp(15px, 3vh, 15px);
        min-height: 20px;
        font-size: 16px;
 
        p{
        margin: 0;
            padding: 0;
        }
            }
}