@use "variables" as v;
@use 'mixins';

.reservationContainer {
    @include mixins.section() {}

    &___bookinginfo {

        width: 80%;
        display: flex;
        justify-content: space-between;


    }

    &___customerinfo {
        margin: 1.3rem 0 2rem 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        &___h4 {


            margin-bottom: 1rem;

        }

    }


    &___btn {

        @include mixins.button() {}


    }
}