@use 'variables' as v;
@use 'mixins';
@use 'reserveTable';
@use 'reserveForm';
@use 'booking';
@use 'reservationComplete';
@use 'loading';
@use 'pageNotFound';

* {

    cursor: url(https://cur.cursors-4u.net/others/oth-6/oth551.cur), auto !important;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
}